streamlit
pandas
openpyxl
pyarrow
pypdf
pyyaml
python-dotenv
tabulate
langchain
langchain-core
langchain-community
langchain-experimental
langchain-mistralai
sentence-transformers
langgraph
langchain-huggingface
faiss-cpu
matplotlib
seaborn