streamlit
pandas
openpyxl
pypdf
pyyaml
python-dotenv
tabulate
langchain
langchain-core
langchain-community
langchain-experimental
langchain-mistralai
langgraph
langchain-chroma
chromadb
langchain-huggingface
sentence-transformers
matplotlib
seaborn